* element.style {
    display: block;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container1 {
    display: flex;
    flex-direction: row;
}

.box1 {
    display: flex;
    flex-direction: column;
    padding: 40px;


}

.box2 {
    display: flex;
    flex-direction: row;
    padding: 40px;
    border: ;
}


body {
   background-color: blanchedalmond;


}

.navbar {
    flex-direction: row;
}

ul {
    list-style: none;
}

